<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <span class='user'>welcome {{user}}</span>
      <span>Broncos World</span>
      
    </nav>
    {{{body}}}
  </body>
</html>
