body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav{
  display: flex;
  background-color: red;
}
.user{
  flex-grow: 1;
  font-size: 20px;
}
